/* section {
  background-color: yellowgreen;
  width: 150px;
  height: 150px;
  color: #fff;
  font-size: 15px;
  border: 5px solid black;
  padding: 0%;
  display: inline-block;
}

section > p {
  margin: 0;
}*/

section {
  width: 80px;
  height: 80px;
  background-color: blueviolet;
  color: #fff;
  font-size: 30px;
  text-align: center;
  float: left;
  margin: 1px;
}

/* .caja {
 position: fixed ;
 left: 600px;
 border-radius: 50%;

 } */

 /* .caja-padre {
   width: 250px;
   height: 250px;
   background-color: black;
   position: absolute;
   left: 200px;
   bottom: 150px;
 } */

